/*Principaux éléments*/
$color-primary:#9356DC;
  $color-secondary:#FF79DA;
  $color-tertiary:#99E2D0;
  @mixin shadow-button {
    box-shadow: 4px 4px 10px #444141; 

  }
  @mixin shrikhand {
    font-family: 'Shrikhand', cursive;
    
}

  
* {
	box-sizing: border-box;
}
h1{
    font-weight: 8000;
    font-size: 25px;
}
header{
    height:100px;
    display: flex;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding-bottom: 60px;
  
   /* Icone flêche*/
    i{
        font-size: 35px;
        padding-right: 15px;
        padding-left: 35px;
        color: black;
      
    }
    /*Header des menus*/
    .menu--header{
        display: flex;
        align-items: baseline;
        justify-content:space-between ;
        height: 100px;
   
    }
    p {
        grid-column: 3/4;
        @include shrikhand;
        font-size: 35px;
    }
 }
 main{
    grid-auto-flow: column;
    display: grid;
     grid-template-columns: 1;
     grid-template-rows: repeat(20,40px);
     grid-row-gap:25px;
 }

body{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 750px;
    margin: auto;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size:smaller;

}
.presentation{
    padding-bottom: 20px;
    text-align: center;
    align-content: center;
    background-color: #f2f2f2c7;
}
.localisation {
    padding:10px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr;
    background-color: #F2F2F2;
    .localisation__element {
        grid-column: 3/4;
        grid-row: 1;
        display: flex;
              
    }
    & input{
        padding-left: 10px;
        border: none;
        background-color: #F2F2F2;
    }
    i{
        padding-left: 50px;
    }
}
button {

    background-color: $color-primary;
    width: 180px;
    height: 40px;
    border-radius: 20px;
    color: white;
    border: none;
    @include shadow-button;
&:hover {
    opacity: 0.7;
    cursor: pointer;
}
 }
aside{
    display:grid;
    grid-template-columns:1fr ;
    grid-template-rows: repeat(4,50px) ;
    grid-row-gap:25px;
    height: 300px;
    align-items: center;
    justify-items: center;
    }
 .card{
    display: flex;
    align-items: center;
    align-items: baseline;
    width: 90%;
    border-radius: 15px 15px 15px 15px;
      
     i{
         padding-left: 35px;
         padding-right: 50px;
     }
 }
 .card__decoration{
    @include shadow-button;
    background-color: #F2F2F2;
 }
section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20px 250px 250px 250px 250px;
    grid-row-gap:50px;
    width: 100%;
    background-color: #F2F2F2;
    margin-top: 25px;
    height: 1300px;
  
            
    
   h1{
       grid-column: 1;
       grid-row:1;
       padding-left: 25px;
   }
}


article{

  height: 280px;
  width: 90%;
  margin: 20px;
  margin-bottom: 25px;
  padding-bottom: 10px;
  background-color: white;  
  border-radius: 15px 15px 15px 15px;
  h2{
      font-size: 20px;
  }
  .article__palette{
    grid-column: 1;
       grid-row:2;
}
.article__française{
    grid-column: 1;
    grid-row:3;
}
.article__note{
    grid-column: 1;
    grid-row:4;
}
.article__delice{
    grid-column: 1;
    grid-row:5; 
}
}
.img{
    width: 100%;
    height: 180px;
    background-size:cover;
    border-radius: 15px 15px 0 0;
    .img__menu{
        grid-row: 1/4;
    }
}

.restaurant_1{
    background-image: url(jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}
.restaurant_2{
    background-image: url(stil-u2Lp8tXIcjw-unsplash.jpg);
}
.restaurant_3{
    background-image: url(toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}
.restaurant_4 {
    background-image: url(louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

.restaucontainer{
   
    display: flex;
	justify-content:space-between;
    align-items: center;
   	align-items: baseline;
    padding-left:15px;
    padding-right: 20px;
 i{
        font-size: 25px;
     
    }
  h2  {
        text-align: left;
          
    }
      
}


footer{
    padding-left:25px;
   grid-auto-flow: column;
   display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,40px);
    grid-row-gap:25px;
    background-color: #444141;
    color:white;
    font-weight: bold;
   

     
     h1{
        grid-column: 1/2;
         @include shrikhand;
         font-size: 15px;
     }
    
    
    
     a{
        text-decoration: none;
        color: white;
     }

.footer__restaurantip{
    grid-column: 1/4;
    display: flex;
    align-items: baseline;
    

 
   }
  .footer__handshelpip{
    grid-column: 1/4;
    display: flex;
    align-items: baseline;  
  }
  
i{
    padding-right:10px;
}
.legalnotice{
    grid-column: 1/4;
    
}
.contact{
    grid-column: 1/2;
    
}

     }


  
