@mixin shadow-button {
    box-shadow: 4px 4px 10px #444141; 

  }
  @mixin shrikhand {
    font-family: 'Shrikhand', cursive;
    
}
//couleur gradient pour boutons et coeurs
@mixin gradien-color {
  background-image: linear-gradient($color-secondary, $color-primary);
}
//ombre classique
@mixin shadow {
  box-shadow: 2px 2px 10px $shadow-color;
}
// Ombre plus sombre
@mixin darker-shadow{
  box-shadow: 2px 2px 20px black;
}